//variables
$bg-color: #fff; //body bg color
$basic-links-color: #222; //links color
$link-hover-color: #fff; //link hover color
$_cyan: #0F8B8D;
$_ferrari-red: #F42B03;
$_green: #62AB37;
$_copper: #C46D5E;
$_rosewood: #6B0504;
$_cerise: #F00699;

//mixins
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}
.menu-hover-effect {
  
  font: {
    family: 'Open Sans', sans-serif; /*change to your own font family */
    weight: 400;
    size: 17px;
  }
  
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    
    li {
      
      a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        color: $basic-links-color;
        padding: 10px 22px;
      }
    }
  }
}

/* effect 1 styles */

.menu-hover-effect {
  
  &-1 {
    
    a {
      transition: color 0.2s linear 0s;
      
      &:before {
        content: "";
        display: block;
        @include position-absolute($top: 0, $left: 0);
        width: 100%;
        height: 100%;
        background-color: $_cyan; /* set your background-color here */
        border-radius: 30px;
        z-index: -1;
        transform: scale(0.3, 1);
        opacity: 0;
      }
      
      &:hover {
        color: $link-hover-color;
        
        &:before {
          transform: scale(1, 1);
          opacity: 1;
          transition: all 0.2s linear 0s;
        }
      }
    }
  }
}
