* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.header-container{
    display:flex;
    justify-content: center;
}
.header{
    width: 287px;
    height: 82px;
    margin-top:180px;
    padding:2px 25px 11px 23px;
    background-color: #FF0000;
}
.supreme{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.font{
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    font-feature-settings: 'calt' off, 'liga' off;
    color: #FFFFFF
}
.timeline{
    margin-top: 38px;
    display:flex;
    justify-content: center;
}

.menu-hover-effect {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    font-feature-settings: 'calt' off, 'liga' off;
    color: #FFFFFF
  }
  .menu-hover-effect ul {
    margin-top: 91px;
  }
  .menu-hover-effect ul li a {
    text-decoration: none;
    position: relative;
    color: white;
    padding: 10px 22px;
  }
  
  .menu-hover-effect-1>a {
    transition: color 0.2s linear 0s;
  }
  .menu-hover-effect-1 a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 5px;
    z-index: -1;
    transform: scale(0.3, 1);
    opacity: 0;
  }
  .menu-hover-effect-1 a:hover {
    color: #fff;
  }
  .menu-hover-effect-1 a:hover:before {
    transform: scale(1, 1);
    opacity: 1;
    transition: all 0.2s linear 0s;
  }

  nav{
    display:flex;
    justify-content:center;
}
nav>div>ul{
    margin-top:91px;
}
a{
    text-decoration: none;
    color:white;
}



.social{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    margin-top:20px;
  }
  
  .social__icon{
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 70px;
    height: 70px;
    margin: 10px;
    background-color: black;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000080;
    transition: all 0.3s ease;
    position: relative;
    overflow:hidden;
  }
  
  .social__icon i {
    font-size: 26px;
    color: #67798e;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .social__icon:after{
    content: "";
    width: 70px;
    height: 70px;
    position:absolute;
    transform: translate(0, 70px);
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: red;
  }
  .social__icon:hover {
    transform: translateY(-4px);
    box-shadow: 0px 0px 15px #00000080;
  }
  
  .social__icon:hover i{
     color: #fff;
  }
  
  .social__icon:hover:after{
    transform: translate(0);
  }
  @media only screen and (max-width: 845px) {
      header nav footer{
          width:100%;
      }
  }