* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header-container {
    padding: 80 px;
    background-color:#b8704f;
}
.header {
    font-family: Helvetica;
    font-size: 50px;
    line-height: 57.5px;
    color: #FFFFFF;
}
.image{
    height: 1280px;
    background-image: url(sneaky.jpeg);
    background-size: cover;
    background-position: center;
    width:100%;
}
.links {
    height: 100px;
    background-color: #b8704f
}
.homework {
   width: 935px;
   height: 29px;
   padding-left: 80px;
   padding-top: 50px;
   font: Helvetica;
   font-size: 25px;
   line-height: 28.75px;
   color: #FFFFFF;
   display: flex;
   align-items:center;
   text-transform:uppercase;
}
.text{
font-family: 'Helvetica';
font-style: normal;
line-height: 57px;
color: #000000;
} 
.p {
    font-weight: 100px;
}
.footer-container {
    padding: 80px;
    display:flex;
    justify-content: space-between;
    background-color: #b8704f;
}
.footer-text{
    width: 614px;
    height: 64px;
    font-family: 'Helvetica';
    font-size: 40px;
    line-height: 57px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FFFFFF;
}