* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.header-container {
    padding-top: 0 px;
    padding-left: 0px;
    width: 1094px;
    height: 200px;
    background-color:#b8704f;
}
.header {
    font-family: Helvetica;
    font-size: 50px;
    line-height: 57.5px;
    color: #FFFFFF;
    width: 470px;
    height: 40px;
    padding-left: 80px;
    padding-top: 80px;
    display: flex;
    align-items: center;
}
.image{
    width: 1094px;
    height: 1280px;
    background-image: url(sneaky.jpeg);

}
.links {
    width: 1094px;
    height: 100px;
    background-color: #b8704f
}
.homework {
   width: 935px;
   height: 29px;
   padding-left: 80px;
   padding-top: 50px;
   font: Helvetica;
   font-size: 25px;
   line-height: 28.75px;
   color: #FFFFFF;
   display: flex;
   align-items:center;
   text-transform:uppercase;
}
.text{
width: 1280px;
left: 80px;
top: 1490px;
font-family: 'Helvetica';
font-style: normal;
line-height: 57px;
color: #000000;
} 
.p {
    font-weight: 100px;
}
.footer-container {
    width: 1094px;
    height: 200px;
    background-color: #b8704f;
}
.footer-logo {
  display:flex;
  align-items: flex-start;
  padding-top: 80px;
  padding-left: 80px;   
}
.footer-text{
    width: 614px;
    height: 64px;
    font-family: 'Helvetica';
    font-size: 40px;
    line-height: 57px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FFFFFF;
}