* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a:link,
a:visited {
  color: #E50043;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.header-container {
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding: 40px;
    width: 100%;
    position: fixed;
    left:0;
    top:0;
    z-index:2;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
.menu-left {
    width: 120px;
    height: 40px;
    left: 50px;
    top: 50px;
    line-height: 57px;
    display: inline-block;
    display: flex;
    align-items: center;   
    color: #E50043;
    z-index:2;
}
.menu-links >li {
    margin-right: 50px;
    display: inline;
    z-index:2;
    
}
.image{
    height: 950px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-size:cover;
    background-position:center;
    width:100%;
    margin-top:80px;
    background-image: url(evian_origins_logo.png);
}
.image >h1{
    color: #E50043;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
}
.glass{
    position: absolute;
    width: 1440px;
    height: 950px;
    left: 0px; /*почему он слева? На фигме с тем же кодом он по центру... */
    top: 140px;
    width:1440px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E50043;

}
.pink{
    width: 1040px;
    padding:25px;
    border:3px solid #F8BFC7;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;

    color: #000000;
    
}
.pink >h4{
    margin: 0 0 15px 0;
    text-decoration: none;
}
.pink >p{
    margin:0;
    padding:0;
}
.grid-cont{
    display: flex;
    justify-content: center;
}
.photo-grid{
    width: 1040px;
    display: flex;
    justify-content: space-between;
  }
    
.desc{
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 30px 117px 150px 30px;
}

.box{
    box-sizing: border-box;
    display:flex;
    justify-content:center;
}
.pinkphoto{
    padding: 20px;
}
.pink-right-desc{
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    letter-spacing: 0.05em;
    flex-direction:column;
    /* align-items: stretch; ??? */
    color: #000000;
}
.pink-right-desc p{
    padding:20px;
}
.glasstwo{
    width: 101px;
    height: 220px;
}
.footer{
    position: absolute;
    width: 1440px;
    height: 140px;
    left: 0px;
    top: 3219px;

    background-color: #F8BFC7;
}
.copyright{
    padding:50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}